{% extends 'blog/layout/layout.html' %}
{% block title %} {{cat.title}} {% endblock %}
{% block content %}
{% load static %}
<div class="parallax-window" data-parallax="scroll" style="background: url('{% static 'img/1920x1080/01.jpg' %}')">
    <div class="parallax-content container">
        <h1 class="carousel-title">{{cat.title}}</h1>
        <p>Lorem ipsum dolor amet consectetur adipiscing dolore magna aliqua <br/> enim minim estudiat veniam siad venumus dolore</p>
    </div>
</div>
<!--========== PAGE LAYOUT ==========-->
        <!-- Work -->
        <div class="bg-color-sky-light">
            <div class="content-md container">
                <div class="row margin-b-40">
                    <div class="col-sm-6">
                        <h1>Work</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incididunt ut laboret dolore magna aliqua enim minim veniam exercitation</p>
                    </div>
                </div>
                <!--// end row -->

                <!-- Masonry Grid -->
                <div class="masonry-grid">
                    <div class="masonry-grid-sizer col-xs-6 col-sm-6 col-md-1"></div>
                    {% for post in cat.posts.all %}
                        <div class="masonry-grid-item {% cycle 'col-xs-12 col-sm-6 col-md-8' 'col-xs-6 col-sm-6 col-md-4' 'col-xs-6 col-sm-6 col-md-4' 'col-xs-6 col-sm-6 col-md-4' 'col-xs-6 col-sm-6 col-md-4' 'col-xs-6 col-sm-6 col-md-4' 'col-xs-12 col-sm-6 col-md-8'%}">
                        <!-- Work -->
                        <div class="work">
                            <div class="work-overlay">
                                <img class="full-width img-responsive" src="{{post.image.url}}" alt="Portfolio Image">
                            </div>
                            <div class="work-content">
                                <h2 class="color-white margin-b-10">{{post.title}}</h2>
                                <p class="color-white margin-b-5">{{post.summary}}</p>
                                {% for cat in post.categories.all %}
                                    <a href="{{cat.get_absolute_url}}">
                                        <span class="color-white margin-b-0">{{cat.title}}</span>
                                    </a>
                                {% endfor %}
                            </div>
                            <a class="content-wrapper-link" href="{{post.get_absolute_url}}"></a>
                        </div>
                        <!-- End Work -->
                        </div>
                    {% endfor %}
                </div>
                <!-- End Masonry Grid -->
            </div>
        </div>
        <!-- End Work -->

        
        <!--========== END PAGE LAYOUT ==========-->
{% endblock %}