{% extends 'blog/layout/layout.html' %}
{% block title %} {{post.title}} {% endblock %}
{% block content %}
{% load static %}
<div class="parallax-window" data-parallax="scroll" style="background: url('{{post.image.url}}')">
    <div class="parallax-content container">
        <h1 class="carousel-title">{{post.title}}</h1>
        <p>{{post.summary}}</p>
    </div>
</div>

<div class="content-lg container">
    <div class="row margin-b-20">
        <div class="col-sm-6">
            <h2>{{post.title}}</h2>
        </div>
    </div>
    <!--// end row -->

    <div class="row">
        <div class="col-sm-7 sm-margin-b-50">
            <div class="margin-b-30">
                <p>{{post.summary}}</p>
            </div>
            <p>{{post.content}}</p>
        </div>
        <div class="col-sm-4 col-sm-offset-1">
            <img class="img-responsive" src="{{post.image.url}}" alt="Our Office">
        </div>
    </div>
    <!--// end row -->
</div>

{% endblock %}