{% extends 'blog/layout/layout.html' %}
{% block title %}Новости{% endblock %}
{%block content%}
 <!--========== PARALLAX ==========-->
 {%load static%}
 <div class="parallax-window" data-parallax="scroll" style="background: url('{% static 'img/1920x1080/01.jpg' %}')">
    <div class="parallax-content container">
        <h1 class="carousel-title">Новости</h1>
        <p>Последние новости на нашем сайте</p>
    </div>
</div>
<!--========== PARALLAX ==========-->

<!--========== PAGE LAYOUT ==========-->
<!-- Our Exceptional Solutions -->
<div class="content-lg container">
    <div class="row margin-b-40">
        <div class="col-sm-6">
            <h2>Our Exceptional Solutions</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incididunt ut laboret dolore magna aliqua enim minim veniam exercitation</p>
        </div>
    </div>
    <!--// end row -->

    <div class="row margin-b-50">
        <!-- Our Exceptional Solutions -->
        {% for post in posts %}
        <div class="col-sm-4 sm-margin-b-50">
            <div class="margin-b-20">
                <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                    <a href="{{post.get_absolute_url}}">
                        <img class="img-responsive" src="{{post.image.url}}" alt="Our Exceptional Solutions Image">
                    </a>
                </div>
            </div>
            <h3><a href="{{post.get_absolute_url}}">{{post.title}}</a> 
            {% for cat in post.categories.all %}
            <a href="/news/category/{{cat.slug}}">
                <span class="text-uppercase margin-l-20">{{cat.title}}</span>
            </a>
            {% endfor %}
            </h3>
            <p>{{post.summary}}</p>
            <a class="link" href="{{post.get_absolute_url}}">Читать далее</a>
        </div>
        <!-- End Our Exceptional Solutions -->
        {%endfor%}
    </div>
</div>
{%endblock%}