{% extends 'blog/layout/layout.html' %}

{% block content %}
<div style="width: 100%; background: black; padding: 200px 0 200px 0">
    <form style="width: 50%; margin: auto;" action="{% url 'register' %}" method="post" class="site-form">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn-theme btn-theme-sm btn-base-bg text-uppercase">Зарегестрироваться</button>
    </form>
</div>
{% endblock %}