{% extends 'blog/layout/layout.html' %}
{% block title %}Поиск: {{query}} {% endblock %}
{% block content %}
{% load static %}
<!-- Search Page -->
<div class="parallax-window" data-parallax="scroll" style="background: url('{% static 'img/1920x1080/01.jpg' %}')">
    <div class="parallax-content container">
        <h1 class="carousel-title">Поиск по запросу: {{query}}</h1>
        <p>Если ничего не найдено попробуйте еще или поменяйте раскладку<br>
            <div style="display: flex;">
                <!-- Search form -->
                <form action="{% url 'search_results' %}" method="GET">
                    <input type="text" name="search" style="height: 35px; border-radius: 5px; border: 0; background: #eee; padding-left: 5px;" id="">
                    <button class="btn btn-success">Искать</button>
                </form>
            </div>
        </p>
    </div>
</div>
<!--========== PAGE LAYOUT ==========-->
        <!-- Work -->
        <div class="bg-color-sky-light">
            <div class="content-md container">
                <!--// end row -->

                <!-- Masonry Grid -->
                <div class="masonry-grid">
                    <div class="masonry-grid-sizer col-xs-6 col-sm-6 col-md-1"></div>
                    {% for post in search_obj %}
                        <div class="masonry-grid-item {% cycle 'col-xs-12 col-sm-6 col-md-8' 'col-xs-6 col-sm-6 col-md-4' 'col-xs-6 col-sm-6 col-md-4' 'col-xs-6 col-sm-6 col-md-4' 'col-xs-6 col-sm-6 col-md-4' 'col-xs-6 col-sm-6 col-md-4' 'col-xs-12 col-sm-6 col-md-8'%}">
                        <!-- Work -->
                        <div class="work">
                            <div class="work-overlay">
                                <img class="full-width img-responsive" src="{{post.image.url}}" alt="Portfolio Image">
                            </div>
                            <div class="work-content">
                                <h2 class="color-white margin-b-10">{{post.title}}</h2>
                                <p class="color-white margin-b-5">{{post.summary}}</p>
                                {% for cat in post.categories.all %}
                                    <a href="{{cat.get_absolute_url}}">
                                        <span class="color-white margin-b-0">{{cat.title}}</span>
                                    </a>
                                {% endfor %}
                            </div>
                            <a class="content-wrapper-link" href="{{post.get_absolute_url}}"></a>
                        </div>
                        <!-- End Work -->
                        </div>
                    {% endfor %}
                </div>
                <!-- End Masonry Grid -->
            </div>
        </div>
        <!-- End Work -->

        
        <!--========== END PAGE LAYOUT ==========-->
{% endblock %}