{% load static %}
{% load footer_contact_form %}
{% load footer_categories_list %}

<!DOCTYPE html>
<!-- ==============================
    Project:        Metronic "Asentus" Frontend Freebie - Responsive HTML Template Based On Twitter Bootstrap 3.3.4
    Version:        1.0
    Author:         KeenThemes
    Primary use:    Corporate, Business Themes.
    Email:          support@keenthemes.com
    Follow:         http://www.twitter.com/keenthemes
    Like:           http://www.facebook.com/keenthemes
    Website:        http://www.keenthemes.com
    Premium:        Premium Metronic Admin Theme: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
================================== -->
<html lang="ru" class="no-js">
    <!-- BEGIN HEAD -->
    <head>
        <meta charset="utf-8"/>
        <title>{% block title %} Тестовый сайт {% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <meta content="" name="description"/>
        <meta content="" name="author"/>
        <!-- GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet" type="text/css">
        <link href="{% static 'vendor/simple-line-icons/simple-line-icons.min.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>

        <!-- PAGE LEVEL PLUGIN STYLES -->
        <link href="{% static 'css/animate.css'%}" rel="stylesheet">
        <link href="{% static 'vendor/swiper/css/swiper.min.css'%}" rel="stylesheet" type="text/css"/>

        <!-- THEME STYLES -->
        <link href="{% static 'css/layout.min.css'%}" rel="stylesheet" type="text/css"/>

        <!-- Favicon -->
        <link rel="shortcut icon" href="favicon.ico"/>
    </head>
    <!-- END HEAD -->

    <!-- BODY -->
    <body>

        <!--========== HEADER ==========-->
        <header class="header navbar-fixed-top">
            <!-- Navbar -->
            <nav class="navbar" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="menu-container">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="toggle-icon"></span>
                        </button>

                        <!-- Logo -->
                        <div class="logo">
                            <a class="logo-wrap" href="index.html">
                                <img class="logo-img logo-img-main" src="{% static 'img/logo.png'%}" alt="Asentus Logo">
                                <img class="logo-img logo-img-active" src="{% static 'img/logo-dark.png'%}" alt="Asentus Logo">
                            </a>
                        </div>
                        <!-- End Logo -->
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse nav-collapse">
                        <div class="menu-container">
                            <ul class="navbar-nav navbar-nav-right">
                                <li class="nav-item"><a class="nav-item-child nav-item-hover active" href="{% url 'index' %}">Главная</a></li>
                                <li class="nav-item"><a class="nav-item-child nav-item-hover" href="{% url 'posts' %}">Новости</a></li>
                                <li class="nav-item"><a class="nav-item-child nav-item-hover" href="about.html">About</a></li>
                                {% if not user.is_authenticated %}
                                <li class="nav-item"><a class="nav-item-child nav-item-hover" href="{% url 'register' %}">Зарегестрироваться</a></li>
                                {% else %}
                                <li class="nav-item"><a class="nav-item-child nav-item-hover" href="{% url 'register' %}">Выйти</a></li>
                                {% endif %}
                                <li class="nav-item"><a class="nav-item-child nav-item-hover" href="faq.html">FAQ</a></li>
                                <li class="nav-item">
                                    <div style="display: flex; margin-top: 10%;">
                                        <!-- Search form -->
                                        <form action="{% url 'search_results' %}" method="GET">
                                            <input type="text" name="search" style="height: 35px; border-radius: 5px; border: 0; background: #eee; padding-left: 5px;" id="">
                                            <button class="btn btn-success">Искать</button>
                                        </form>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Navbar Collapse -->
                </div>
            </nav>
            <!-- Navbar -->
        </header>
        <!--========== END HEADER ==========-->
        {%block content%}
        {%endblock%}
         <!--========== FOOTER ==========-->
         <footer class="footer">
            <!-- Links -->
            <div class="footer-seperator">
                <div class="content-lg container">
                    <div class="row">
                        <div class="col-sm-2 sm-margin-b-50">
                            <!-- List -->
                            <ul class="list-unstyled footer-list">
                            {% footer_categories_list %}
                            </ul>
                            <!-- End List -->
                        </div>
                        <div class="col-sm-4 sm-margin-b-30">
                            <!-- List -->
                            <ul class="list-unstyled footer-list">
                                <li class="footer-list-item"><a class="footer-list-link" href="#">Twitter</a></li>
                                <li class="footer-list-item"><a class="footer-list-link" href="#">Facebook</a></li>
                                <li class="footer-list-item"><a class="footer-list-link" href="#">Instagram</a></li>
                                <li class="footer-list-item"><a class="footer-list-link" href="#">YouTube</a></li>
                            </ul>
                            <!-- End List -->
                        </div>
                        <div class="col-sm-5 sm-margin-b-30">
                            <h2 class="color-white">Отправьте нам сообщение</h2>
                            <form action="/contact_cont/" method="post"> 
                                <!-- Don't forget slash -->
                                {% contact %}
                            </form>
                        </div>
                    </div>
                    <!--// end row -->
                </div>
            </div>
            <!-- End Links -->

            <!-- Copyright -->
            <div class="content container">
                <div class="row">
                    <div class="col-xs-6">
                        <img class="footer-logo" src="{% static 'img/logo.png' %}" alt="Asentus Logo">
                    </div>
                    <div class="col-xs-6 text-right">
                        <p class="margin-b-0"><a class="color-base fweight-700" href="http://keenthemes.com/preview/asentus/">Asentus</a> Theme Powered by: <a class="color-base fweight-700" href="http://www.keenthemes.com/">KeenThemes.com</a></p>
                    </div>
                </div>
                <!--// end row -->
            </div>
            <!-- End Copyright -->
        </footer>
        <!--========== END FOOTER ==========-->

        <!-- Back To Top -->
        <a href="javascript:void(0);" class="js-back-to-top back-to-top">Top</a>

        <!-- JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
        <!-- CORE PLUGINS -->
        <script src="{% static 'vendor/jquery.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'vendor/jquery-migrate.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>

        <!-- PAGE LEVEL PLUGINS -->
        <script src="{% static 'vendor/jquery.easing.js' %}" type="text/javascript"></script>
        <script src="{% static 'vendor/jquery.back-to-top.js' %}" type="text/javascript"></script>
        <script src="{% static 'vendor/jquery.smooth-scroll.js' %}" type="text/javascript"></script>
        <script src="{% static 'vendor/jquery.wow.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'vendor/swiper/js/swiper.jquery.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'vendor/masonry/jquery.masonry.pkgd.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'vendor/masonry/imagesloaded.pkgd.min.js' %}" type="text/javascript"></script>

        <!-- PAGE LEVEL SCRIPTS -->
        <script src="{% static 'js/layout.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/components/wow.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/components/swiper.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/components/masonry.min.js' %}" type="text/javascript"></script>

    </body>
    <!-- END BODY -->
</html>